.scroll-container {
    margin: 0.125rem 0 0.125rem 0;
    padding: .2.5em 0 .2.5em 0;
    background-color: var(--mainLightBlue);
    text-align: center;
}

@media screen and (min-width: 512px) {
    .scroll-container  {
        margin: 0;
        padding: .5em 0 .5em 0;
    }
}

.scroll-container button {
    width: 48px;
    height: 48px;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    outline: none;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}

@media screen and (min-width: 512px) {
    .scroll-container button {
        width: 64px;
        height: 64px;
    }
}

