.site-footer {
    background-color: var(--mainBlue);
    color: white;
    text-align: center;
}

.site-footer__social {
    margin-right: auto;
    margin-left: auto;
    
}

.site-footer__social img {
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    
}

.site-footer__contact {
    width: 100%;
    display: flex;
    margin-bottom: .5rem;
}

.site-footer__text {
    float: left;
    font-size: .8rem;
    font-weight: 200;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 512px) {
    .site-footer__text {
        margin-left: 0;
        margin-right: auto;
    }
}

.site-footer__links {
    float: right;
    padding-top: 1rem;
    
}

.site-footer__links-img  {
   float: left;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.site-footer__links-img img {
    width: 3rem;
    height: 3rem;
}

.site-footer__links-btn {
    display: none;    
}

@media screen and (min-width: 512px) {
    .site-footer__links-btn {
        display: block;
        float: right;
        margin-right: auto;
        margin-left: auto;
    }
}
