.row {
    display: block;
}

@media screen and (min-width: 512px) {
    .row .row__medium-4 {
        float: left;
        width: 33.33%;
    }
}

@media screen and (min-width: 512px) {
    .row .row__medium-8 {
        float: left;
        width: 66.66%;
    }
}

@media screen and (min-width: 1024px) {
    .row .row__very-large-4 {
        float: left;
        width: 33.33%;
    }
}

@media screen and (min-width: 1024px) {
    .row .row__very-large-8 {
        float: left;
        width: 66.66%;
    }
}

.row--gutters {
    margin-right: -48px;
}

.row--gutters > div {
    padding-right: 48px;
}

.row--gutters-small {
    margin-right: -45px;
}

.row--gutters-small > div {
    padding-right: 45px;
}

.row__b-margin-until-medium {
    margin-bottom: 1rem;
}

@media screen and (min-width: 512px) {
    .row__b-margin-until-medium {
        margin-bottom: 0;
    }
}

.row--t-padding {
    padding-top: 80px;
}

.row__img-1 {
    display: block;
}

@media screen and (min-width: 512px) {
    .row__img-1 {
        display: none;
    }
}

.row__img-2 {
    display: none;
}

@media screen and (min-width: 512px) {
    .row__img-2 {
        display: block;
        width: 100%;
    }
}

/* Begin of equal heith rule */
@media screen and (min-width: 512px) {
    .row--equal-height-at-medium {
        display: flex;
    }
}

@media screen and (min-width: 512px) {
    .row--equal-height-at-medium > div {
        float: none;
        display: flex;
    }
}

@media screen and (min-width: 1024px) {
    .row--equal-height-at-very-large {
        display: flex;
    }
}

@media screen and (min-width: 1024px) {
    .row--equal-height-at-very-large > div {
        float: none;
        display: flex;
    }
}
