.page-section {
    padding: .25rem 0;
}

@media screen and (min-width: 512px) {
  .page-section {
    padding: 0;
  }
}

.page-section--testimonials {
  background-color: #e0e6ef;
}

@media screen and (min-width: 1024px) {
  .page-section--testimonials {
    background: url('C:/Peter/Project-iSpeak/app/assets/images/lochcastle-1500x748.jpg') top center no-repeat;
    background-size: cover;
  }
}

.page-section--no-b-padding-until-medium {
  padding-bottom: 0;
}

@media screen and (min-width: 512px) {
  .page-section--no-b-padding-until-medium {
    padding-bottom: 4.5rem;
  }
}

.page-section--no-b-padding-until-very-large {
  padding-bottom: 0;
}

@media screen and (min-width: 1024px) {
  .page-section--no-b-padding-until-very-large {
    padding-bottom: 4.5rem;
  }
}